html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #292929;
	color: #ffffff;
	text-align: center;
}

a.fadeInUp:hover {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 60px;
	background: rgba(0, 0, 0, 0.8);
}

#footer #logo {
	margin-top: 20px;
	margin-left: 10px;
	padding: 0;
	width: 243px;
	height: 23px;
	background: url("../images/logo.png");
	text-indent: -9999px;
}

.imageGrid {
	padding: 40px 40px 100px 40px;
}

.imageGrid .cell {
	float: left;
}

.imageGrid .cell img {
	width: 100%;
	float: left;
}

.imageGrid .cell.divider {
	height: 1px;
}

.imageGrid .verticalSpacer {
	float: left;
}
