html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #000;
	text-align: center;
	padding-bottom: 60px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	color: #cdcdcd;
}

img.gears {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
}

a.fadeInUp:hover {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	border-left: 5px solid #999999;
	background: rgba(0, 0, 0, 0.8);
}

#header #logo {
	margin: 0;
	padding: 8px 0 10px 20px;
	font-size: 20px;
	text-align: left;
	color: #fff;
	opacity: 0.8;
	font-weight: 100;
}

.imageGrid {
	padding: 42px 5px 0 5px;
	position: relative;
	z-index: 50;
}

.imageGrid .cell {
	float: left;
	position: relative;
}

.imageGrid .cell a.imgBorder {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
	color: #818181;
	-o-transition: border 0.2s ease-out;
	-ms-transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	-webkit-transition: border 0.2s ease-out;
	transition: border 0.2s ease-out;
}

.imageGrid .cell a.imgBorder:hover {
	color: #818181;
	border: 14px solid #818181;
	-o-transition: border 0.2s ease-in;
	-ms-transition: border 0.2s ease-in;
	-moz-transition: border 0.2s ease-in;
	-webkit-transition: border 0.2s ease-in;
	transition: border 0.2s ease-in;
}

.imageGrid .cell img {
	width: 100%;
	float: left;
}

.imageGrid .cell.divider {
	height: 1px;
}

.imageGrid .verticalSpacer {
	float: left;
}

.imageGrid .pageBtn {
	font-size: 16px;
}

.pageButtonHolder {
	padding: 0 40px 40px 40px;
}

.pageBtn {
	padding: 15px 40px;
	color: #ffffff;
	background: #4f4f4f;
	text-transform: uppercase;
}
