// Bootstrap Overrides
@import "customBootstrapVariables";

// Bootstrap imports
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

// Project specific
@import "applicationVariables";
@import "mixins/_mixins";



// Default to box sizing
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	background: #292929;
	text-align: center;
	padding-bottom: 60px;

	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	color:#cdcdcd;
}

img.gears{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
}

a.fadeInUp:hover {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


#footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;

	background: rgba(0, 0, 0, 0.8);

	#logo{
		padding: 10px 0 10px 40px;
		font-size: 26px;
		text-align: left;
	}
}


.imageGrid{
	padding: 40px 40px 40px 40px;

	.cell{
		float: left;
		position: relative;

		$color:#818181;
		a.imgBorder{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 1000;
			color: $color;
			@include transition(border 0.2s ease-out);
		}
		a.imgBorder:hover{
			color: $color;
			border: 14px solid $color;
			@include transition(border 0.2s ease-in);
		}
		img{
			width: 100%;
			float: left;
		}
	}
	.cell.divider{
		height: 1px;
	}
	.verticalSpacer{
		float: left;
	}

	.pageBtn{
		font-size: 16px;
	}
}

.pageButtonHolder{
	padding: 0 40px 40px 40px;
}

.pageBtn{
	padding: 15px 40px;
	color: #ffffff;
	background: #4f4f4f;
	text-transform: uppercase;
}