html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #fff;
	text-align: center;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	color: #cdcdcd;
}

img.gears {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
}

a.fadeInUp:hover {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#header {
	width: 100%;
	height: 55px;
	background: url("../images/header-shadow.gif") 0 0 repeat-x;
}

#header #logo {
	margin: 12px 0 0 20px;
	padding: 0 14px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: left;
	color: #fff;
	border-left: 2px solid #fff;
}

.imageGrid {
	padding: 0 20px 20px 20px;
}

.imageGrid .cell {
	float: left;
}

.imageGrid .cell a.imgBorder {
	width: 100%;
	height: 100%;
	float: left;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.imageGrid .cell a.imgBorder img {
	width: 100%;
	float: left;
}

.imageGrid .cell a.imgBorder .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-o-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.imageGrid .cell a.imgBorder .info .content {
	color: #fff;
	border-left: 1px solid #fff;
	padding-left: 10px;
	margin: 15px 15px;
	text-align: left;
}

.imageGrid .cell a.imgBorder:hover .info {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.imageGrid .cell.divider {
	height: 1px;
}

.imageGrid .verticalSpacer {
	float: left;
}

.imageGrid .pageBtn {
	font-size: 16px;
}

.footer {
	padding: 20px 20px 150px 20px;
	background: #f7f8fa;
}

.footer .pageButtonHolder {
	/*display: inline-block;
		margin: 0 auto;*/
}

.footer .pageButtonHolder .btn {
	padding: 20px 100px;
	color: #525558;
	background: #e6e6e6;
	text-transform: uppercase;
	font-weight: 800;
	position: relative;
}

.footer .pageButtonHolder .btn span {
	top: 16px;
	font-size: 26px;
	position: absolute;
	color: #93999e;
}

.footer .pageButtonHolder .btn.left {
	float: left;
}

.footer .pageButtonHolder .btn.left span {
	left: 30px;
	-o-transition: left 0.3s ease-out;
	-ms-transition: left 0.3s ease-out;
	-moz-transition: left 0.3s ease-out;
	-webkit-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
}

.footer .pageButtonHolder .btn.left:hover span {
	left: 20px;
}

.footer .pageButtonHolder .btn.right {
	float: right;
}

.footer .pageButtonHolder .btn.right span {
	right: 30px;
	-o-transition: right 0.3s ease-out;
	-ms-transition: right 0.3s ease-out;
	-moz-transition: right 0.3s ease-out;
	-webkit-transition: right 0.3s ease-out;
	transition: right 0.3s ease-out;
}

.footer .pageButtonHolder .btn.right:hover span {
	right: 20px;
}
