// Bootstrap Overrides
@import "customBootstrapVariables";

// Bootstrap imports
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

// Project specific
@import "applicationVariables";
@import "mixins/_mixins";

.viewer{
	$edge: 10px;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;

	.imageHolder{
		position: absolute;
		top: $edge;
		right: $edge;
		bottom: $edge;
		left: $edge;


		img{
			max-width: 100%;
			max-height: 100%;
			border: none;
		}

		a{
			position: absolute;
			top: 0;
			bottom: 0;
			min-width: 10%;
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
			@include opacity(0.1);
			text-indent: -99999px;
		}
		a:hover{
			@include opacity(1);
		}
		a.prevBtn{
			left: 0;
			background-image: url("../images/leftArrow.svg");
		}
		a.nextBtn{
			right: 0;
			background-image: url("../images/rightArrow.svg");
		}
	}

	a.close{
		position: absolute;
		top: 30px;
		right: 30px;
		color:#fff;
	}
}

