// Bootstrap Overrides
@import "customBootstrapVariables";

// Bootstrap imports
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

// Project specific
@import "applicationVariables";
@import "mixins/_mixins";

.viewer{
	$edge: 10px;
	$sidebar: 400px;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;

	.imageHolder{
		position: absolute;
		top: $edge;
		right: $sidebar;
		bottom: $edge;
		left: $edge;
		background-color: #1e1e1e;


		img{
			max-width: 100%;
			max-height: 100%;
			border: none;
		}

		a{
			position: absolute;
			top: 0;
			bottom: 0;
			min-width: 10%;
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
			@include opacity(0.1);
			text-indent: -99999px;
		}
		a:hover{
			@include opacity(1);
		}
		a.prevBtn{
			left: 0;
			background-image: url("../images/leftArrow.svg");
		}
		a.nextBtn{
			right: 0;
			background-image: url("../images/rightArrow.svg");
		}
	}
	.infoHolder{
		background-color: #1e1e1e;
		border-left: 1px solid #494949;
		position: absolute;
		width: $sidebar - $edge;
		top: $edge;
		right: $edge;
		bottom: $edge;
		text-align: left;
		padding: 0 10px 0 20px;

		h1{

		}
		p{

		}
	}

	a.close{
		position: absolute;
		top: 30px;
		right: 30px;
		color:#fff;
	}
}

