<div ng-controller="GalleryController as ctrl" class="ng-cloak">
    <site-header selected-index="0"></site-header>

	<!-- Grid -->

    <div class="page-content">
	    <image-grid image-data="ctrl.imageData"></image-grid>
    </div>

	<!-- Controls -->
	<div class="footer" ng-show="ctrl.imageData.length > 0">
		<div class="clearfix pageButtonHolder">
			<a href="" class="button big left" ng-show="ctrl.showPrev" ng-click="ctrl.fetchPreviousPage()">Back <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></a>
			<a href="" class="button big right" ng-show="ctrl.showNext" ng-click="ctrl.fetchNextPage()">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
		</div>
	</div>
</div>