<div ng-controller="GalleryController as ctrl" class="ng-cloak">
	<div id="header" class="clearfix">
		<h1 id="logo">jonbeechphotography</h1>
	</div>


	<!-- Grid -->
	<image-grid image-data="ctrl.imageData"></image-grid>

	<!-- Controls -->
	<div class="footer" ng-show="ctrl.imageData.length > 0">
		<div class="clearfix pageButtonHolder">
			<button type="button" class="btn pageBtn left" ng-show="ctrl.showPrev" ng-click="ctrl.fetchPreviousPage()">back <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>
			<button type="button" class="btn pageBtn right" ng-show="ctrl.showNext" ng-click="ctrl.fetchNextPage()">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
		</div>
	</div>
</div>