/*----------------------------------------------+
| LOGIN											|
+----------------------------------------------*/
#loginWrapper{
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
}

#loginWrapper h1{
	margin-bottom: 40px;
}