<div class="viewer" ng-controller="ViewerController as ctrl">
	<div class="imageHolder" equal-padding="">
		<img ng-src="{{ctrl.imageURL}}" ng-show="ctrl.imageURL" alt=" ">
		<a href="" ng-click="ctrl.prevImage()" class="prevBtn">Previous Image</a>
		<a href="" ng-click="ctrl.nextImage()" class="nextBtn">Next Image</a>
	</div>
	<div class="infoHolder">
		<h1>Image Title</h1>
		<p>
			Something was great about this image :)
		</p>
	</div>

	<a href="" class="close" ng-click="ctrl.close()">Close</a>
</div>