<div class="gallery-sizer" ng-style="sizeStyle">
	<div class="clearfix" ng-show="imageData.rows.length > 0">
		<div ng-repeat="row in imageData.rows track by $index">
			<div
				class="imgHolder"
				ng-repeat="image in row[size] track by image.id"
				ng-class="{middleImg:$index > 0}"
				ng-style="{width:image.width, height:image.height, background:'url(' + image.url + ')'}">
				<a href='#' data-id='' class='imgLink animated1s fadeInUp'></a>
			</div>
		</div>
	</div>

	<div class="page-controls clearfix">
		<a type="button" class="btn btn-primary pull-left" href="/#/gallery/{{imageData.pageNumber - 1}}"
			ng-show="imageData.pageNumber > 1"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
		<a type="button" class="btn btn-primary pull-right" href="/#/gallery/{{imageData.pageNumber + 1}}"
				ng-show="imageData.pageNumber < imageData.totalPages">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>