html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #292929;
	padding-top: 42px;
	padding-bottom: 102px;
	/*font-family: "soleil-1";*/
}

.renderpage {
	background: #ffffff;
	padding: 10px 20px 50px 20px;
	margin: 0 auto;
	width: 800px;
}

a.fadeInUp:hover {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 60px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: black transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.8);
	/* For IE 5.5 - 7*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#footer #logo {
	margin-top: 20px;
	margin-left: 10px;
	padding: 0;
	width: 243px;
	height: 23px;
	background: url("../images/site/logo.png");
	text-indent: -9999px;
}

.gallery-sizer {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 10px 0;
	/*background: #ffffff;*/
}

.gallery-sizer div.imgHolder {
	float: left;
	margin-top: 10px;
	background: #cccccc;
	overflow: hidden;
}

.gallery-sizer div.imgHolder.middleImg {
	margin-left: 10px;
}

.gallery-sizer a.imgLink {
	display: block;
	width: 100%;
	height: 100%;
	cursor: hand;
}

.gallery-sizer a.imgLink:hover {
	background: url("../images/site/imgOverlay.png") repeat-x 0 bottom;
}

.gallery-sizer div.page-controls {
	padding: 10px 0 0 0;
}
